@font-face {
  font-family:'Bainsley-Roman';
  src: 
    url("fonts/Bainsley_Roman.otf") format("opentype"),
    url("fonts/Bainsley_Italic.otf") format("opentype"),
    url("fonts/Bainsley_Bold_Italic.otf") format("opentype"),
    url("fonts/Bainsley_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  position: relative;
  width:100vw;
  height:99vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.left-card-container {
  width: 41vw;
  height: 100vh;
  position:absolute;
  left:0;
  top:0;
  margin:0;
  padding:0;
}  
  .ice-photo {
      height: 100vh;
      width: 41vw;
      z-index: -1;
  }
  .logo-text {
      background-color: rgba(0, 0, 0, 0.3);
      line-height: 2.5;
      width:41vw;
      height: 13vh;
      position:absolute;
      left:0;
      top:42.5vh;
      text-align: center;
      font-size: 5vh;
      color:aliceblue;
      font-family: "Bainsley-Roman", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.right-card-container {
  width: 59vw;
  height: 100vh;
  position: absolute;
  right:0;
  top:0;
  margin:0;
  padding:0;
  overflow: scroll;
}
  .head, .body, .foot {
    position: relative;
    padding: 6em;
    box-sizing: border-box;
  }
  .head {
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
  }
    .head-text {
      position:absolute;
      bottom:0;
      font-family: "Bainsley-Roman", 'Times New Roman', Times, serif;
      line-height: 1.5;
      font-size: 1.3em;
    }
  .body {
    position: relative;
    background-color: white;
    box-shadow: 5px 2.5px 2.5px rgba(0, 95, 139, 0.5);
  }
    input[type="text"],
    input[type="tel"],
    input[type="email"]:invalid,
    input[type="password"]:invalid {
      border: 2px solid red;
    }
    .left-body-block {
      position:absolute;
      left:1vw;
      top:0;
    }
    .right-body-block {
      position: absolute;
      left:25vw;
      top:0;
    }
    #input-header {
      display: block;
      margin-top: 2vh;
      margin-left: 2vw;
      
    }
    #input-header {
      font-size: 1.3em;
      text-align: center;
    }
  .foot {
    position: relative;
  }
    button.sign-up {
      position:absolute;
      background-color: rgba(255, 255, 255, 1);
      border:none;
      padding: 1rem;
      left: 2rem;
      top: 1rem;
      box-shadow: 5px 2.5px 2.5px rgba(0, 95, 139, 0.5);
    }
